<%- include('../layouts/header.ejs')%>

    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-text mx-3">To The New</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">

                <% if(user.is_admin===1){ %>
                    <a class="nav-link" href="/admin/home">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                    <% } else if(user.is_Mentor===1){ %><a class="nav-link" href="/mentorHome">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span></a>
                        <% } else{ %>
                            <a class="nav-link" href="/home">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>Dashboard</span></a>
                            <% } %>

            </li>


            <hr class="sidebar-divider d-none d-md-block">

        </ul>

        <div class="d-flex flex-column w-100">
            <div id="content-wrapper" class="d-flex flex-column h-100">

                <div id="content">
                    <div class="container-fluid">

                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">All Videos</h1>
                        </div>

                        <div class="row">
                            <% if(videoArr.length>0){
                                for(let i=0;i<videoArr.length;i++){ %>
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="font-weight-bold text-primary text-uppercase mb-1 h5">
                                                            <span class="mb-5">
                                                                <%=videoArr[i].tittle%>
                                                            </span>

                                                            <video width="240" height="240" controls>
                                                                <source src="/userVideo/<%= videoArr[i].video %>"
                                                                    type="video/mp4">
                                                                Your browser does not support the video tag.
                                                            </video>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } } %>
                        </div>

                    </div>

                </div>




            </div>
            <%- include('../layouts/footer.ejs')%>
        </div>
    </div>


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
